{% extends 'base.html.twig' %}

{% block title %}Mes exercices{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/exercise.scss') }}">
{% endblock %}

{% block body %}
<div class="">
    <h2>Vous pouvez modifier ou supprimer un de vos exercices.</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Matière</th>
                <th>Niveau</th>
                <th>Thématique</th>
                <th>Fichiers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.courseId.name }}</td>
                <td>{{ exercise.difficulty }}</td>
                <td>{{ exercise.thematicId.name }}</td>
                <td>
                    {% if exercise.correctionFile %}
                        <a href="{{ exercise.correctionFile.name }}">Corrigé</a>
                    {% endif %}
                </td>

                <td>
                    <a href="{{ path('modifier_exercice', {'id': exercise.id}) }}">Modifier
                    <img src="{{ asset('media/editer.png') }}" alt="Modifier" class="w-4 h-4"></a>
                    <a href="{{ path('supprimer_exercice', {'id': exercise.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet exercice ?');">Supprimer
                    <img src="{{ asset('media/delete.png') }}" alt="Suppression" class="w-4 h-4"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}