{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}

    <link href="{{asset('css/base.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{asset('css/login.css')}}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block body %}
    <p class="text-info">
        Cet espace est réservé aux enseignants du lycée Saint-Vincent - Senlis. 
        Si vous n'avez pas encore de compte, veuillez effectuer votre demande 
        directement en envoyant un email à <a href="mailto:contact@lyceestvincent.net">contact@lyceestvincent.net</a>.
    </p>


{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div class="container-form-connexion">
        <form class="form-connexion" action="{{ path('login') }}" method="post">
            <div class="container-email">
                <label for="username">Email :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"
                placeholder="Saisissez votre adresse email">
            </div>

            <div class="container-password">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password"
                placeholder="Saisissez votre mot de passe">
            </div>

            <input type="hidden" name="_target_path" value="/">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="container-btn-connexion-forget-password">
                <button class="btn-connexion" type="submit">Connexion</button>
                <a class="forget-password" href="#">Mot de passe oublié ?</a>
            </div>
        </form>
    </div>
{% endblock %}
