<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link href="{{asset('css/base.css')}}" type="text/css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="side-nav">
            <div class="brand-nav-list">
                <div class="nav-brand">
                    <div class="content-logo">
                        <img src="{{ asset('media/logo.png') }}">
                    </div>
                    <div class="content-text-logo">
                        <p class="text-logo"><span>Math Index</span>Lycée Saint-Vincent - Senlis</p>
                    </div>
                </div>
                <nav class="nav-list">
                    <li class="nav-item">
                        <a href="#">
                            <img src="{{ asset('media/img-home.png') }}">
                            <p>Accueil</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <img src="{{ asset('media/img-recherche.png') }}">
                            <p>Recherche</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <img src="{{ asset('media/img-maths.png') }}">
                            <p>Mathématique</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="exercices">
                            <img src="{{ asset('media/exercice.png') }}">
                            <p>Mes exercices</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <img src="{{ asset('media/soumettre.png') }}">
                            <p>Soumettre</p>
                        </a>
                    </li>

                </nav>
            </div>
            <div class="logout">
                <li class="nav-item">
                    <a>
                        <img src="{{ asset('media/deconnexion.png') }}">
                        <p class="">Déconnexion</p>
                    </a>
                </li>
            </div>
        </div>
        <header>
            <div class="container-connexion">
                <a href="#">
                    <img src="{{ asset('media/connexion.png') }}">
                    <p>Connexion</p>
                </a>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
