<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="side-nav">
            <div class="brand-nav-list">
                <div class="nav-brand">
                    <div class="content-logo">
                        <img src="{{ asset('media/logo.png') }}">
                    </div>
                    <div class="content-text-logo">
                        <p class="text-logo"><span>Math Index</span>Lycée Saint-Vincent - Senlis</p>
                    </div>
                </div>
                <div class="container-nav-logout">
                    <nav class="nav-list">

                        {% set routeName = app.request.attributes.get('_route') %}

                        <!--==================
                                item-nav
                        =====================-->
                        {% if routeName == 'home' %}
                        <li class="nav-item-active">
                            <a href="{{ path('home') }}">
                                <img src="{{ asset('media/img-home.png') }}">
                                <p class="nav-item-text-active">Accueil</p>
                            </a>
                        </li>

                        {% else %}

                        <li class="nav-item">
                            <a href="{{ path('home') }}">
                                <img src="{{ asset('media/img-home.png') }}">
                                <p class="nav-item-text">Accueil</p>
                            </a>
                        </li>
                        {% endif %}
                        <!--==================
                                end item-nav
                        =====================-->

                        <!--==================
                                item-nav
                        =====================-->

                        {% if routeName == 'recherche' %}
                        <li class="nav-item-active">
                            <a href="{{ path('recherche') }}">
                                <img src="{{ asset('media/img-recherche.png') }}">
                                <p class="nav-item-text-active">Recherche</p>
                            </a>
                        </li>

                        {% else %}

                        <li class="nav-item">
                            <a href="{{ path('recherche') }}">
                                <img src="{{ asset('media/img-recherche.png') }}">
                                <p class="nav-item-text">Recherche</p>
                            </a>
                        </li>
                        {% endif %}

                        <!--==================
                                end item-nav
                        =====================-->

                        <!--==================
                                item-nav
                        =====================-->

                        {% if routeName == "mathematique" %}
                        <li class="nav-item-active">
                            <a href="{{ path('mathematique') }}">
                                <img src="{{ asset('media/img-maths.png') }}">
                                <p class="nav-item-text-active">Mathématique</p>
                            </a>
                        </li>
                        
                        {% else %}

                        <li class="nav-item">
                            <a href="{{ path('mathematique') }}">
                                <img src="{{ asset('media/img-maths.png') }}">
                                {% if routeName == 'mathematique' %}
                                <p class="nav-item-text-active">Mathématique</p>
                                {% else %}
                                <p class="nav-item-text">Mathématique</p>
                                {% endif %}
                            </a>
                        </li>
                        {% endif %}                       
                        
                        <!--==================
                                end item-nav
                        =====================-->

                        {% if is_granted('ROLE_CONTRIBUTEUR', 'ROLE_ADMIN') %}

                        <!--==================
                                item-nav
                        =====================-->

                        {% if routeName == "exercice" %}
                        <li class="nav-item-active">
                            <a href="{{ path('exercice') }}">
                                <img src="{{ asset('media/exercice.png') }}">
                                <p class="nav-item-text-active">Mes exercices</p>
                            </a>
                        </li>

                        {% else %}

                        <li class="nav-item">
                            <a href="{{ path('exercice') }}">
                                <img src="{{ asset('media/exercice.png') }}">
                                {% if routeName == 'exercice' %}
                                <p class="nav-item-text-active">Mes exercices</p>
                                {% else %}
                                <p class="nav-item-text">Mes exercices</p>
                                {% endif %}
                            </a>
                        </li>
                        {% endif %}
                                
                        <!--==================
                                end item-nav
                        =====================-->

                        <!--==================
                                item-nav
                        =====================-->

                        {% if routeName == 'soumettre' %}
                        <li class="nav-item-active">
                            <a href="{{ path('soumettre') }}">
                                <img src="{{ asset('media/soumettre.png') }}">
                                <p class="nav-item-text-active">Soumettre</p>
                            </a>
                        </li>

                        {% else %}
                        
                        <li class="nav-item">
                            <a href="{{ path('soumettre') }}">
                                <img src="{{ asset('media/soumettre.png') }}">
                                {% if routeName == 'soumettre' %}
                                <p class="nav-item-text-active">Soumettre</p>
                                {% else %}
                                <p class="nav-item-text">Soumettre</p>
                                {% endif %}
                            </a>
                        </li>
                        {% endif %}

                        {% endif %}
                    </nav>
                    {% if is_granted('ROLE_CONTRIBUTEUR', 'ROLE_ADMIN') %}
                        <div class="logout">
                            <li class="nav-item">
                                <a href="{{ path('logout') }}">
                                    <img src="{{ asset('media/deconnexion.png') }}">
                                    {% if routeName == 'logout' %}
                                    <p class="nav-item-text-active">Déconnexion</p>
                                    {% else %}
                                    <p class="nav-item-text">Déconnexion</p>
                                    {% endif %}
                                </a>
                            </li>
                        </div>
                    {% endif %}

                    <!--==================
                            end item-nav
                    =====================-->
                </div>
            </div>
        </div>
            <header>
                <div class="container-connexion">
                    {% if is_granted ('ROLE_CONTRIBUTEUR', 'ROLE_ADMIN')%}
                        <div class="profil-username">
                            <p>{{ app.user.getFirstName }} {{ app.user.getLastName }}
                        </div>
                    {% else %}
                        <a href="{{ path('login') }}">
                            <img src="{{ asset('media/connexion.png') }}">
                            <p>Connexion</p>
                        </a>
                    {% endif %}
                </div>
            </header>
        <section class="principal">
            <div class="container">

                {% if routeName == 'home' %}
                    <h1 class="title">Accueil</h1>
                {% elseif routeName == 'login' %}
                    <h1 class="title">Connexion</h1>
                {% elseif routeName == 'recherche' %}
                    <h1 class="title">Rechercher un exercice</h1>
                {% elseif routeName == 'mathematique' %}
                    <h1 class="title">Recherche</h1>
                {% elseif routeName == 'exercice' %}
                    <h1 class="title">Mes exercices</h1>
                {% elseif routeName == 'soumettre' %}
                    <h1 class="title">Soumettre un exercice</h1>
                {% elseif routeName == 'admin' %}
                    <h1 class="title">Administration</h1>
                {% endif %}

                <div class="content-site">
                    {% block body %}{% endblock %}
                </div>

                <footer>
                    <ul>
                        <li>
                            <a href="#">Mentions légales</a>
                        </li>
                        <p>&bull;</p>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <p>&bull;</p>
                        <li>
                            <a href="#">Lycée Saint-Vincent</a>
                        </li>
                    </ul>
                </footer>
            </div>
        </section>
    </body>
</html>
