<nav aria-label="Pagination" style="width: 100%;display: flex;justify-content: center;">
    <ul class="pagination" style=" width: 50%; display: flex; justify-content: space-around;">
        <li class="page-item prev bouton-prec {{ currentPage == 1 ? 'disable' }}">
            {% if currentPage > 1 %}
            <a class="page-link" href="{{ path(route, {
                page: currentPage - 1
            }) }}" aria-label="Previous">
            <
            </a>
            {% else %}
            <a class="page-link" aria-label="Previous">
            <
            </a>
            {% endif %}
        </li>

        {% set availablePages = countPages > 3 ? 3 : countPages %}

        {% if currentPage == 1 %}
            {% for i in range (1, availablePages) %}
                <li class="page-item {{ currentPage == i ? 'active' }} bouton-jsaipas">
                    <a class="page-link" href="{{ path(route, {
                        page: i
                    }) }}">{{ i }}
                    </a>
                </li>
            {% endfor %}

        {% elseif currentPage == countPages %}
            {% for i in range (countPages - (availablePages - 1), countPages|reverse) %}
                <li class="page-item {{ currentPage == i ? 'active' }} bouton -1page">
                    <a class="page-link" href="{{ path(route, {
                        page: i
                    }) }}">{{ i }}
                    </a>
                </li>
            {% endfor %}

        {% else %}
            <li class="page-item -1page">
                <a class="page-link" href="{{ path(route, {
                    page: currentPage - 1
                }) }}">{{ currentPage - 1}}
                </a>
            </li>
            <li class="page-item active page-current">
                <a class="page-link" href="{{ path(route, {
                    page: currentPage
                }) }}">{{ currentPage }}
                </a>
            </li>
            <li class="page-item page-current+1">
                <a class="page-link" href="{{ path(route, {
                    page: currentPage + countPages - 3
                }) }}
            ">{{ currentPage + countPages - 3 }}
                </a>
            </li>
            <li class="page-item page-current+2">
                <a class="page-link" href="{{ path(route, {
                    page: currentPage + countPages - 2
                }) }}
            ">{{ currentPage + countPages - 2 }}
                </a>
            </li>
        {% endif %}
        {% if countPages < 1 %}
        <li class="page-item page-current+countpage">
            <a class="page-link" href="{{ path(route, {
                page: currentPage + countPages
            }) }}
        ">{{ currentPage + countPages }}
            </a>
        </li>        
        {% elseif countPages == currentPage + 1 and countPages != currentPage + 1 %}
        <li class="page-item page-current+countpage-disable">
            <a class="page-link" href="{{ path(route, {
                page: currentPage + countPages - 2
            }) }}
        ">{{ currentPage + countPages - 2 }}
            </a>
        </li>
        {% endif %}
        {% if currentPage == countPages %}
        <li class="page-item next bouton-+1page disable">
            <a class="page-link">
                >
            </a>
        </li>
        {% else %}
        <li class="page-item next bouton-+1page">
            <a class="page-link" href="{{ path(route, {
                page: currentPage + 1
            }) }}" aria-label="Next">
                >
            </a>
        </li>
        {% endif %}
    </ul>
</nav>