<div>
    {{ form_start(form) }}
    <div class="grid-cols-2 grid">
        <div>
            {{ form_row(exercise.name) }}
            {{ form_row(exercise.chapter) }}
        </div>
        <div>
            {{ form_row(exercise.keywords) }}
        </div>
        <div>
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
        </div>
    </div>
    <div class="flex justify-between w-2/5">
        <a class="btn" href="{{ path('admin_panel_user') }}">Retour à la liste</a>
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>